.query-history-header {
    display: inline-block;
    position: relative;
    &-favorites {
        float: left;
    }
    &-recent {
        float: left;
    }
    &-close {
        float: right;
    }
}